
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 33% 92%; /* #f2eee3 */
    --foreground: 0 0% 24%; /* #3c3c3c */
    --card: 42 33% 92%;
    --card-foreground: 0 0% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 357 72% 64%; /* #e65e65 */
    --primary-foreground: 0 0% 98%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5.9% 90%;
    --input: 30 5.9% 90%;
    --ring: 357 72% 64%; /* #e65e65 */
    --radius: 0.8rem;
    --chart-1: 174 60% 37%;
    --chart-2: 174 50% 57%;
    --chart-3: 174 40% 77%;
    --chart-4: 174 30% 87%;
    --chart-5: 174 20% 97%;
    --gradient-start: 174 60% 42%;
    --gradient-end: 174 70% 32%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 357 72% 64%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 357 72% 64%;
  }

  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
  }

  /* Hide default cursor for all elements */
  body, a, button, input, textarea, select, [role="button"], .cursor-pointer {
    cursor: none;
  }
}

@layer components {
  .book-container {
    @apply relative transition-transform duration-300 ease-in-out will-change-transform;
  }
  .book-container:hover {
    @apply scale-105;
  }
  .book-cover {
    @apply w-full h-full object-cover rounded-md;
  }
  
  .book-3d {
    --book-thickness: 30px;
    --cover-color: #4D9077;

    perspective: 1000px;
    max-width: 250px;
    margin: 0 auto;
  }

  .book-3d__inner {
    position: relative;
    transform-style: preserve-3d;
    animation: book-3d 1s ease forwards;
  }

  @keyframes book-3d {
    from { transform: rotateY(0); }
    to   { transform: rotateY(-25deg); }
  }

  /* Book Pages */
  .book-3d__inner::before {
    position: absolute;
    content: ' ';
    left: 100%;
    top: 1%;
    width: calc( var(--book-thickness) * 2 );
    height: 98%;
    transform: translate(-55%,0) rotateY( 90deg );
    background: linear-gradient( 90deg , #fff 0%, hsl(0, 0%, 94%) 5%, #fff 10%, hsl(0, 0%, 94%) 15%, #fff 20%, hsl(0, 0%, 94%) 25%, #fff 30%, hsl(0, 0%, 94%) 35%, #fff 40%, hsl(0, 0%, 94%) 45%, #fff 50%, hsl(0, 0%, 94%) 55%, #fff 60%, hsl(0, 0%, 94%) 65%, #fff 70%, hsl(0, 0%, 94%) 75%, #fff 80%, hsl(0, 0%, 94%) 85%, #fff 90%, hsl(0, 0%, 94%) 95%, #fff 100% );
  }

  /* Rear Cover */
  .book-3d__inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 1%;
    width: 100%;
    height: 100%;
    transform: translateZ( calc( var(--book-thickness) * -1 ) );
    background-color: var(--cover-color);
    border-radius: 0 2px 2px 0;
    box-shadow: -10px 0 50px 10px rgba(0,0,0, 0.3);
  }

  .book-3d__cover {
    display:block;
    width:100%;
    height: auto;
    border-radius: 0px 2px 2px 0px;
    transform: translateZ( var(--book-thickness) );
  }

  /* Bookshelf styles */
  .bookshelf {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 25px; /* Space for the books to sit on the shelf */
  }

  .shelf-shadows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgba(170, 170, 170, 0.7), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
  }

  .shelf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #f9f9f9;
    border-radius: 2px;
    z-index: 3;
  }

}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  .aspect-9-16 {
    aspect-ratio: 9 / 16;
  }
}

@keyframes pulse-cursor {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 0 0 0 hsl(var(--primary) / 0.7);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 0 10px hsl(var(--primary) / 0);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 0 0 0 hsl(var(--primary) / 0);
  }
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  animation: pulse-cursor 2s infinite;
}

/* Hide custom cursor and restore default cursor on touch devices */
@media (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
  
  body, a, button, input, textarea, select, [role="button"], .cursor-pointer {
    cursor: auto;
  }
}
